@font-face {
  font-family: 'FalturaAnimals';
  src: url(../css/FalturaAnimals.ttf);
}

html {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  background-image: url(../img/bamboo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.map {
  position: absolute;
  text-align: center;
  margin-left: 30px;
  /*border-image-width: 50px;*/
}
#map {
  width: 130%;
  /*-webkit-filter: drop-shadow(10px 10px 10px #222);*/
   filter: drop-shadow(15px 15px 15px #222);
}

.title {
  text-align: center;
  font-family: 'FalturaAnimals';
  font-size: 100px;
  margin: 5px;
  padding-top: 15px;
  text-shadow:
  -2px -2px 15px white,
  2px -2px 15px white,
  -2px 2px 15px white,
  2px 2px 15px white;
  color: black;
  display: table-caption;
  width: 30px;
  position: absolute;
  top: 5%;
  z-index: 2;


}

.hide {
  display: none;
  /*border-image: url(../img/bamboo.jpg) 30 30 repeat;
  border-style: solid;
  border-width: 20px;
  background-color: white;
  position: absolute;
  top: 60px;*/
  /*left: 50px;*/
}

#whale:hover {
  width: 300px;
}

#elephant:hover {
  width: 200px;
}

#gorilla:hover {
  width: 100px;
}

#whaleshark:hover {
  width: 300px;
}

#crane:hover {
  width: 100px;
}

#narwhal:hover {
  width: 200px;
}

#lynx:hover {
  width: 200px;
}

#oncilla:hover {
  width: 150px;
}

#panda:hover {
  width: 200px;
}

#tiger:hover {
  width: 200px;
}

#wombat:hover {
  width: 150px;
}

#penguin:hover {
  width: 200px;
}

.whale {
  position: absolute;
  top: 70%;
  left: 10%;
}

#whale {
  width: 150px;
  filter: drop-shadow(15px 15px 15px #000);
}

.elephant {
 position: absolute;
 top: 40%;
 left: 88%;
}

#elephant {
  width: 90px;
  filter: drop-shadow(15px 15px 15px #222);
}

.gorilla {
 position: absolute;
 top: 42%;
 left: 67%;
}

#gorilla {
  width: 80px;
  filter: drop-shadow(15px 15px 15px #222);
}

.whaleshark {
 position: absolute;
 top: 60%;
 left: 80%;
}

#whaleshark {
  width: 160px;
  filter: drop-shadow(15px 15px 15px #000);

}

.crane {
 position: absolute;
 top: 15%;
 left: 25%;
}

#crane {
  width: 70px;
  filter: drop-shadow(15px 15px 15px #000);
}

.narwhal {
 position: absolute;
 top: 9%;
 left: 45%;
}

#narwhal {
  width: 170px;
  filter: drop-shadow(15px 15px 15px #000);
}

.lynx {
 position: absolute;
 top: 6%;
 left: 75%;
}

#lynx {
  width: 150px;
  filter: drop-shadow(15px 15px 15px #000);
}

.oncilla {
 position: absolute;
 top: 53%;
 left: 37%;
}

#oncilla {
  width: 90px;
  filter: drop-shadow(15px 15px 15px #000);
}

.panda {
 position: absolute;
 top: 23%;
 left: 91%;
}

#panda {
  width: 120px;
  filter: drop-shadow(15px 15px 15px #222);
}

.tiger {
 position: absolute;
 top: 45%;
 left: 98%;
}

#tiger {
  width: 90px;
  filter: drop-shadow(15px 15px 15px #000);
}

.wombat {
 position: absolute;
 top: 65%;
 left: 102%;
}

#wombat {
  width: 90px;
  filter: drop-shadow(15px 15px 15px #222);
}

.penguin {
 position: absolute;
 top: 89%;
 left: 50%;
}

#penguin {
  width: 90px;
  filter: drop-shadow(15px 15px 15px #000);
}

/*Template*/

.animal-heading {
  font-family: 'FalturaAnimals';
  font-size: 100px;
  margin: 0;
  text-shadow:
  -2px -2px 15px white,
  2px -2px 15px white,
  -2px 2px 15px white,
  2px 2px 15px white;
  position: absolute;
  top: 15%;
  left: 80%;
}

.animal-info {
  font-family: 'FalturaAnimals';
  font-size: 70px;
  letter-spacing: 5px;
  margin: 0;
  text-shadow:
  -2px -2px 15px white,
  2px -2px 15px white,
  -2px 2px 15px white,
  2px 2px 15px white;
  position: absolute;
  top: 50%;
  left: 80%;
}

/*Blue Whale*/
#blue-whale {
  width: 100%;
}

#blue-whale-heading {
  font-family: 'FalturaAnimals';
  font-size: 150px;
  margin: 0;
  text-shadow:
  -2px -2px 15px white,
  2px -2px 15px white,
  -2px 2px 15px white,
  2px 2px 15px white;
  position: absolute;
  top: 40%;
  left: 80%;
  display: block;
}

#blue-whale-title {
  margin-top: -30px;
}
