body {
  position: relative;
  /*background-image: url(../img/leafs.jpg);*/
}

.map {
  position: absolute;
  text-align: center;
  /*border-image-width: 50px;*/
}

#heading {
  background-repeat: no-repeat;
  background-size: cover;
  border-image: url(../img/bamboo.jpg) 30 30 repeat;
  border-style: solid;
  border-width: 20px;
  /*position: absolute;*/
  /*top: 0;
  left: 50%;*/
  /*background-color: blue;
  border: black;*/
}

.hide {
  display: none;
  border-image: url(../img/bamboo.jpg) 30 30 repeat;
  border-style: solid;
  border-width: 20px;
  background-color: white;
  position: absolute;
  top: -50%;
  left: -50%;
}

.whale:hover img + .hide {
  display: table-caption;
}

.elephant:hover img + .hide {
  display: table-caption;
}

.gorilla:hover img + .hide {
  display: table-caption;
}

.whaleshark:hover img + .hide {
  display: table-caption;
}

.crane:hover img + .hide {
  display: table-caption;
}

.narwhal:hover img + .hide {
  display: table-caption;
}

.lynx:hover img + .hide {
  display: table-caption;
}

.oncilla:hover img + .hide {
  display: table-caption;
}

.panda:hover img + .hide {
  display: table-caption;
}

.tiger:hover img + .hide {
  display: table-caption;
}

.tiger:hover img + .hide {
  display: table-caption;
}

.wombat:hover img + .hide {
  display: table-caption;
}

.penguin:hover img + .hide {
  display: table-caption;
}

.whale {
  position: absolute;
  top: 50%;
  left: 10%;
}

#whale {
  width: 150px;
}

.elephant {
 position: absolute;
 top: 40%;
 left: 68%;
}

#elephant {
  width: 90px;
}

.gorilla {
 position: absolute;
 top: 47%;
 left: 52%;
}

#gorilla {
  width: 60px;
}

.whaleshark {
 position: absolute;
 top: 60%;
 left: 70%;
}

#whaleshark {
  width: 160px;
}

.crane {
 position: absolute;
 top: 15%;
 left: 20%;
}

#crane {
  width: 60px;
}

.narwhal {
 position: absolute;
 top: 9%;
 left: 35%;
}

#narwhal {
  width: 140px;
}

.lynx {
 position: absolute;
 top: 6%;
 left: 65%;
}

#lynx {
  width: 100px;
}

.oncilla {
 position: absolute;
 top: 58%;
 left: 30%;
}

#oncilla {
  width: 90px;
}

.panda {
 position: absolute;
 top: 26%;
 left: 74%;
}

#panda {
  width: 90px;
}

.tiger {
 position: absolute;
 top: 45%;
 left: 77%;
}

#tiger {
  width: 90px;
}

.wombat {
 position: absolute;
 top: 65%;
 left: 80%;
}

#wombat {
  width: 90px;
}

.penguin {
 position: absolute;
 top: 89%;
 left: 50%;
}

#penguin {
  width: 90px;
}
